@import '../../../scss/variables';
@import '../../../scss/mixins';

.calendar-wraper {
  position: relative;
  // z-index: 3;
}
.calendar {
  max-width: 250px;
  z-index: 3;

  position: absolute;
  right: 0;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: $boxShadow;
}
// .calendar-open-btn {
//   width: 400px;
// }
