@import '../../../scss/variables';
@import '../../../scss/mixins';

.filter-buttons {
  display: flex;
  max-width: 100%;
}

.grop {
  &__btn {
    padding: 7px 24px;
    border: 2px solid var(--colorBlue);
    color: var(--colorBlue);
    background-color: #f3f3f3;
    border-radius: 20px;
    transition: $transition-dur-and-func;
    position: relative;
    // &:not(:last-child) {
    margin-right: 15px;
    // }
    &:hover {
      background-color: var(--colorBlue);
      color: #fff;
    }
    &-active {
      background-color: var(--colorBlue);
      color: #fff;
    }
    &.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
      width: 100%;

      border-radius: 20px;
      padding: 3px 20px;
      background-color: #f3f3f3;

      border: 2px solid var(--colorBlue);
      color: var(--colorBlue);
      &:hover {
        background-color: var(--colorBlue);
        color: #fff;
      }
    }
  }
}
.collapse {
  background-color: #f3f3f3;
  max-width: 100%;
  box-shadow: $boxShadow;

  padding: 14px 24px;
  position: absolute;
  z-index: 3;

  border-radius: 20px;
  &__list {
    color: var(--colorBlue);
    &-item {
      margin-bottom: 8px;
    }
  }
}
