@import '../../scss/variables';
@import '../../scss/mixins';

.navigation {
  display: flex;
  align-items: center;

  @include tablet {
    margin-right: 32px;
  }

  &__link {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    transition: $transition-dur-and-func;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0px;

      border-radius: 2px;
      background-color: $colorBlue;
      transition: $transition-dur-and-func;
    }
    &:hover,
    &:focus {
      color: $colorBlue;
    }
    @include desktop {
      font-size: 18px;
    }

    &:not(:last-child) {
      @include tablet {
        margin-right: 44px;
      }
      @include desktop {
        margin-right: 69px;
      }
    }
  }
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin-right: 14px;

  @include tablet {
    font-size: 32px;
    margin-right: 48px;
  }
  @include desktop {
    font-size: 42px;
    margin-right: 120px;
  }
}
.link-active {
  color: $colorBlue;
  text-decoration: none;
}
.link-active::after,
.navigation__link:hover::after {
  width: 120%;
}
