.home-page {
  padding-top: 28px;
  padding-bottom: 150px;
}
.home-page__right {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .home-page__wraper {
    gap: 29px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .home-page__wraper {
    gap: 31px;
  }
}
