@import '../scss/variables';
@import '../scss/mixins';

.home-page {
  padding-top: 28px;
  padding-bottom: 150px;
  &__right {
    margin-left: auto;
  }
  &__wraper {
    @include tablet {
      gap: 29px;
      display: flex;
      flex-wrap: wrap;
    }
    @include desktop {
      gap: 31px;
    }
  }
}
