@import '../../../scss/variables';
@import '../../../scss/mixins';
.search-form {
  position: relative;
  // width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  @include tablet {
    margin: 0;
    // margin-right: 24px;
  }
  @include desktop {
    // margin-right: 147px;
  }

  &__input {
    // border: transparent;

    background-color: transparent;
    border: 1px $colorBlack solid;
    border-radius: 20px;

    width: 100%;
    padding-left: 48px;

    &:focus-visible {
      outline: none;
    }
    @include tablet {
      padding: 5px;
      padding-left: 40px;
      max-width: 213px;
    }
    @include desktop {
      max-width: 288px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    &-icon {
    }
    @include tablet {
    }
    @include desktop {
    }
  }
}
