@import-normalize; /* bring in normalize.css styles */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* html.light {
  --pageaaaColor: #ec0b0b;
}
html.dark {
  --pageaaaColor: #2d38d3;
} */
